body {
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, STHeiTi, "Microsoft YaHei", sans-serif;
    background-color: #f1f8e9;
    padding: 18px;
    transition: all ease 1s;
}

h1 {
    font-size: 120px;
    color: #9e9e9e;
    text-align: center;
    text-shadow: -8px 8px 0px #c8e6c9;
}

h2 {
    font-size: 40px;
    color: #9e9e9e;
}

.square {
    text-align: center;
}

@media (max-width: 414px) {
    body {
        padding: 0;
    }
    h1 {
        font-size: 60px;
        color: #9e9e9e;
        text-align: center;
        text-shadow: -8px 8px 0px #c8e6c9;
    }

    h2 {
        font-size: 30px;
        color: #9e9e9e;
    }
}